/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f3f0f9;
  color: #3d0075;
  text-align: center;
  margin: 0;
  padding: 0;
}

/* Título principal */
h1 {
  padding: 20px;
  background-color: #a678f2;
  color: white;
  margin-bottom: 20px;
}

/* Contenedor por semestre */
.semester {
  margin-bottom: 30px;
  padding: 10px 20px;
  border-top: 3px solid #a678f2;
}

/
